
<div class="mx-auto p-2 m-5" style="width: 400px;">
<h2>Create a new bookmark</h2>
<%= simple_form_for [@list, @bookmark] do |f| %>
  <%= f.input :comment, class:"form-label" %>
  <%= f.association :movie, prompt: "Choose a Movie" %>
  <%= f.submit "Submit", class:"btn btn-primary" %>
<% end %>
</div>

<p> <%= link_to "Back to my list", lists_path  %></p>
